@import url("https://fonts.googleapis.com/css2? família = Montserrat & display = swap");
@import url("https://fonts.googleapis.com/css2? family = Montserrat: wght @ 100 & display = swap");
@import url("https://fonts.googleapis.com/css2? family = Playfair + Display: wght @ 900 & display = swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  z-index: 10;
}
.menu {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
}
.imagemlogo {
  width: 8%;
  height: 100%;
}
.todecacho {
  width: 90px;
  height: 50px;
  position: fixed;
  left: 2.8%;
  top: 0.8%;
}
.lista {
  width: 740px;
  height: 100%;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  color: #9767a9;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  margin-left: 7%;
}
.lista:hover {
  color: #9767a9 (10, 9, 9);
  font-weight: bold;
}
.pesquisa {
  height: 30px;
  width: 150px;
  border-color: #9767a9;
  border: 2px solid #9767a9;
  border-radius: 50px;
  padding-left: 27px;
  outline: none;
  margin-top: 1.2%;
  margin-left: 7%;
}
.buscar {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 993px;
  top: 36%;
}
input::placeholder {
  color: #9767a9;
}
.fiy {
  height: 94%;
  width: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 4%;
}
.facebook {
  width: 23%;
  height: 48%;
}
.instagram {
  width: 23%;
  height: 48%;
}
.youtube {
  width: 23%;
  height: 48%;
}
.imagem-main {
  width: 100%;
  position: relative;
  background-image: url("Assets/cabeludo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 88vh;
}
.texto {
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 1;
}
.texto1 {
  width: 22%;
  margin-top: 9.2%;
  margin-left: 14%;
  font-family: "Playfair Display", serif;
  font-size: 500%;
}
.texto2 {
  width: 22%;
  margin-top: 12%;
  margin-right: 17%;
  font-family: "Montserrat", sans-serif;
  font-size: 190%;
  font-weight: lighter;
}
.texto-grandes {
  position: relative;
  color: #ffffff;
  background-color: #9767a9;
  height: 44vh;
  top: 34%;
}
.ipassos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  opacity: 1;
}
.texto3 {
  display: flex;
  width: 55%;
  margin-top: 1.2%;
  font-family: "Playfair Display", serif;
  font-size: 360%;
}
.texto4 {
  display: flex;
  width: 33%;
  margin-top: 3%;
  margin-right: 2%;
  font-family: "Montserrat", sans-serif;
  font-size: 118%;
  font-weight: lighter;
  letter-spacing: -1.2px;
}
.caixas-roxas {
  width: 100%;
  height: 500vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  opacity: 1;
}
.imagem-one {
  width: 670px;
  height: 700px;
  margin-top: 250px;
  margin-left: 90px;
  position: absolute;
  display: flex;
}
.cabeloespelho {
  width: 580px;
  height: 450px;
  margin-top: -47%;
}
.texto-espelho {
  width: 450px;
  height: 350px;
  background: #9767a9;
  position: absolute;
  margin-top: 6%;
  margin-left: 66px;
}
.olhe {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}
.Olhando {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  margin-left: 30px;
  line-height: 23px;
  width: 88%;
}
.imagem-two {
  width: 670px;
  height: 700px;
  margin-top: 250px;
  margin-left: 90px;
  position: absolute;
  display: flex;
}
.foto-18 {
  width: 600px;
  height: 450px;
  margin-top: -500%;
  margin-left: 91%;
}
.texto-18 {
  width: 380px;
  height: 305px;
  background: #9767a9;
  position: absolute;
  margin-top: -452%;
  margin-left: 104%;
}
.tenha {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 12px;
  text-align: left;
}
.tal {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  margin-left: 30px;
  line-height: 18px;
  width: 90%;
}
.imagem-three {
  width: 670px;
  height: 700px;
  margin-top: 250px;
  margin-left: 90px;
  position: absolute;
  display: flex;
}
.foto-19 {
  width: 580px;
  height: 450px;
  margin-top: -421%;
}
.texto-19 {
  width: 388px;
  height: 220px;
  background: #9767a9;
  position: absolute;
  margin-top: -374%;
  margin-left: 90px;
}
.seja {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  width: 59%;
}
.sabe {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  margin-left: 30px;
  line-height: 15px;
  width: 88%;
}
.imagem-four {
  width: 670px;
  height: 700px;
  margin-top: 250px;
  margin-left: 90px;
  position: absolute;
  display: flex;
}
.imagem-49 {
  width: 600px;
  height: 450px;
  margin-top: -394%;
  margin-left: 91%;
}
.texto-49 {
  width: 386px;
  height: 220px;
  background: #9767a9;
  position: absolute;
  margin-top: -330%;
  margin-left: 104%;
}
.ignore {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-left: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}
.ouvir {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  margin-left: 18px;
  line-height: 15px;
  width: 94%;
}
.imagem-five {
  width: 670px;
  height: 700px;
  margin-top: 250px;
  margin-left: 90px;
  position: absolute;
  display: flex;
}
.imagem-55 {
  width: 580px;
  height: 450px;
  margin-top: -320%;
}
.texto-55 {
  width: 410px;
  height: 280px;
  background: #9767a9;
  position: absolute;
  margin-top: -273%;
  margin-left: 83px;
}
.procure {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 12px;
  text-align: left;
  width: 80%;
}
.passar {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  margin-left: 30px;
  line-height: 18px;
  width: 81%;
}
.imagem-six {
  width: 670px;
  height: 700px;
  margin-top: 250px;
  margin-left: 90px;
  position: absolute;
  display: flex;
}
.imagem-56 {
  width: 600px;
  height: 450px;
  margin-top: -286%;
  margin-left: 91%;
}
.texto-56 {
  width: 390px;
  height: 228px;
  background: #9767a9;
  position: absolute;
  margin-top: -228%;
  margin-left: 102%;
}
.respeite {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}
.você {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  margin-left: 30px;
  line-height: 18px;
  width: 90%;
}
.imagem-seven {
  width: 670px;
  height: 700px;
  margin-top: 250px;
  margin-left: 90px;
  position: absolute;
  display: flex;
}
.imagem-57 {
  width: 580px;
  height: 450px;
  margin-top: -218%;
}
.texto-57 {
  width: 396px;
  height: 238px;
  background: #9767a9;
  position: absolute;
  margin-top: -170%;
  margin-left: 74px;
}
.tenha {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  width: 70%;
}
.se {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  margin-left: 30px;
  line-height: 20px;
  width: 77%;
}
.imagem-eight {
  width: 200px;
  height: 100px;
  margin-top: 250px;
  margin-left: 90px;
  position: absolute;
  display: flex;
}
.caminho {
  width: 200%;
  height: 50%;
  margin-top: -570%;
  margin-left: 360%;
}
.galeria-de-fotos {
  width: 89%;
  height: 115vh;
  margin-left: 89px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -490px;
}
.i52 {
  width: 260px;
  height: 445px;
}
.i54 {
  width: 180px;
  height: 216px;
  margin-left: 18px;
}
.i53 {
  width: 180px;
  height: 212px;
  position: absolute;
  margin-left: 278px;
  margin-top: 232px;
}
.i11 {
  height: 444px;
  width: 180px;
  margin-left: 15px;
}
.i10 {
  height: 663px;
  width: 280px;
  margin-left: 15px;
}
.photo-club1 {
  height: 662px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 964px;
  margin-top: -710px;
}
.i12 {
  height: 224px;
  width: 214px;
}
.i9 {
  height: 400px;
  width: 214px;
  margin-top: -9%;
}
.photo-club2 {
  height: 230px;
  width: 654px;
  position: absolute;
  margin-top: 464px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gloriamaria {
  height: 200px;
  width: 260px;
}
.i14 {
  height: 200px;
  width: 180px;
  margin-left: 42%;
  position: absolute;
}
.snoopy {
  height: 200px;
  width: 180px;
  margin-left: 72%;
  position: absolute;
}
footer {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  background: #9767a9;
}
.final {
  width: 70%;
  height: 100%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
.vai-na-web {
  height: 35%;
  width: 50%;
  margin-left: 70px;
  margin-top: 10px;
}
a {
  color: #fff;
  text-decoration: nenhum;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
.grupo-1 {
  height: 80%;
  width: 120px;
  display: flex;
  margin-left: 10px;
  align-items: center;
  text-align: center;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  color: #fff;
  margin-left: 80px;
}
.grupo-1:hover {
  background: #ac95bb;
  cursor: pointer;
}
.esquerda {
  height: 25px;
  width: 27px;
}
.grupo-2 {
  height: 80%;
  width: 120px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  color: #fff;
  margin-left: 15px;
}
.grupo-2:hover {
  background: #ac95bb;
  cursor: pointer;
}
.meio {
  height: 25px;
  width: 32px;
}
.grupo-3 {
  height: 80%;
  width: 120px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  color: #fff;
  margin-left: 15px;
  margin-right: 30px;
}
.grupo-3:hover {
  background: #ac95bb;
  cursor: pointer;
}
.direita {
  height: 25px;
  width: 27px;
}
.link {
  top: 6118px;
  left: 140px;
  width: 1088px;
  height: 50px;
  text-align: left;
  font: normal normal medium 15px/19px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
